@media print {
	body > *, .card-ingredient-checkbox {
		display: none !important;
	}
	#ox223252_ingredients > * {
		width: 150px;
	}
	body > section {
		display: block !important;
		font-size: 2em;
	}
	li {
		margin-bottom: 5px;
	}
	a {
		color:black;
	}
	h1 {
		font-size: 2.2em;
	}
}
@media screen {
	body > section {
		display: none;
	}
}
@page {
	margin: 2cm;
}
